body {background:#000000;
        font-family: 'Ubuntu', sans-serif;
        font-size:12px;
        color:#000000;
        overflow:auto;
        line-height:16px;
/*        background:url("../images/icons/pink_dot.png");
        background-attachment:fixed;*/
        }

a {
    color:#FFFFFF;
    text-decoration: underline;
}
 
a:hover {
    color:#FFFFFF;
    text-decoration: underline;
}

a:visited {
    color:#FFFFFF;
    text-decoration: underline;
}

h1 {
    position: absolute;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 100pt;
    font-weight: 700;
    text-decoration: underline;
    z-index: 200;
}


.background_overlay {
    position:fixed;
    top:-3px;left:-3px;
    width:105%;height: 105%;
    background:url("../images/icons/pink_dot.png");
    }






/*____*_*__*_*_*_*_*_*_*___CONTROLS____*_*_*_*_*_*_*/

.reset_command {
    position:absolute;
    top:200px;left:200px;
    z-index: 20;
}

.reset {
    position:absolute;
    top:-3px;left:-3px;
    width:105%;height: 105%;
    background:url("../images/icons/reset.png");
    z-index: 10;
}



/*___*_*_*_*_*_*____FOLDERS ROW 1_____*_*_*_*_*_*/

.wrapper {
    width:810px;
    height:510px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-315px 0 0 -405px;
    z-index: 200;
}

.space {
    float:left;
    width:270px;height:230px;
    text-align: center;
}

.space2 {
    float:left;
    width:176px;height:230px;
    line-height: 60px;
    text-align: center;
}

.space2 a {
    text-decoration: none;
    font-weight: bold;
    text-shadow:
        2px 2px 5px rgba(0,0,0,0.1),
        -1px 2px 1px rgba(0,0,0,0.1),
        -5px 2px 5px rgba(0,0,0,0.4),
        -2px -2px 5px rgba(0,0,0,0.1),
        2px -2px 5px rgba(0,0,0,0.2);

        /*LEFT TOP BLUR rgba(0,0,0,0.5),*/
}

.folder_x0y0 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    background:none;
}

.folder_x1y0 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    background:none;
}

.folder_x2y0 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.25);
    background:none;
}


/*___*_*_*_*_*_*____FOLDERS ROW 2_____*_*_*_*_*_*/

.folder_x0y1 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}

.folder_x1y1 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}

.folder_x2y1 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}

/*___*_*_*_*_*_*____FOLDERS ROW 3_____*_*_*_*_*_*/



.folder_x0y2 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}

.folder_x1y2 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}

.folder_x2y2 {
    float:left;
    -moz-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    box-shadow:-10px 10px 15px rgba(0,0,0,0.1);
    background:none;
}